<%- include("partials/header.ejs") %>

  <main>
    <div class="outter-container">
      <!-- The Home Section -->
      <h1 class="home-h1">Explore your favorite Foreign Recipes.</h1>

      <div class="text">
        <p id="welcome">Welcome to your ultimate culinary passport.</p> <br>
        <p class="recipe-paragraph">A recipe website where the world’s most flavorful dishes 
          come alive in your kitchen. From savory Asian stir-fries and rich European pastries to bold African stews 
          and zesty Latin American classics, our diverse collection of global recipes is paired with step-by-step 
          instructions to guide you every step of the way. Whether you're a curious beginner or a seasoned foodie, 
          we’ll help you master authentic techniques and bring the taste of the world to your table. One recipe at a time.
        </p>
      </div>

      <div class="search">
        <h3>How do you want to Search?</h3>

        <form action="/" method="GET">
          <input type="submit" value="Search by name" class="btn a" formaction="/name-search">
          <input type="submit" value="Search meals by first letter" class="btn b" formaction="/letter-search">
          <input type="submit" value="List all meals Categories" class="btn c" formaction="/category-search"> 
          <input type="submit" value="Filter by Area" class="btn d" formaction="/area-search">
          <input type="submit" value="Lookup a Random meal" name="random" class="btn e" formaction="/random-search">
        </form>
      </div>

      <div class="images">

        <!-- Displays a random meal on each Reload -->
        <div class="recipe1 recipe">

          <% if (locals.apiData) { %> 
            <a href="/meal/<%= apiData.meals[0].idMeal %>" class="name-link">
              <h2> <%= apiData.meals[0].strMeal %> </h2>
            </a>

            <div class="img-con">
              <a href="/meal/<%= apiData.meals[0].idMeal %>" class="image-link">
                <img src="<%= apiData.meals[0].strMealThumb %>" alt="Recipe Image" loading="lazy">
              </a>
            </div>
          <% } %> 


          <% if (locals.message) { %> 
            <p class="err-msg err-margin"> <%= message %> </p>
          <% } %>

        </div>

        <!-- Displays a permanent meal -->
        <div class="recipe2 recipe">
          <% if (locals.staticMeal) { %> 
            <a href="/meal/<%= staticMeal.meals[0].idMeal %>" class="name-link">
              <h2> <%= staticMeal.meals[0].strMeal %> </h2>
            </a>
    
            <div class="img-con">
              <a href="/meal/<%= staticMeal.meals[0].idMeal %>" class="image-link">
                <img src="<%= staticMeal.meals[0].strMealThumb %>" alt="Recipe Image" loading="lazy">
              </a>
            </div>
          <% } %> 
        </div>
      </div>
    </div>
  </main>

<%- include("partials/footer.ejs") %>