<%- include("partials/header.ejs") %>

   <main class="outter-container">

      <% if (locals.message) { %> 
         <p class="err-msg err-margin2"> <%= message %> </p>
      <% } %>
      
      <div class="container sub-con">
         <div class="display">
      
            <!-- This section lists all categories of recipes -->
            <% if(locals.apiData) { %> 
      
               <h2> Categories: </h2>
               
               <% apiData.meals.forEach((item) => { %>  
                  <ul>
                     <li>
                        <a href="/category/<%= item.strCategory %>"> <%= item.strCategory %>  </a>
                     </li>
                  </ul>
               <% }); %> 
            <% } %> 
      
         </div>
      </div>
   </main>

<%- include("partials/footer.ejs") %>